<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/script.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <%= JSON.stringify(user)%>
</body>
</html>